/* Pagina */
.productos-cont {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Contenedores de tarjetas */
.combos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

/* Tarjetas */

.tarjeta {
    height: 15rem;
    width: 90%;
    background: linear-gradient(to right, #fff785 60%, #ffffff);
    border-radius: 5px;
    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    color: #000;
    margin: 1rem auto;
    box-shadow: 0px 0px 10px #000;
}

.texto-tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.texto-tarjeta>h3 {
    font-size: 18px;
    color: #8d0000;
}

.texto-tarjeta>span {
    font-size: 16px;
    color: #00ab00;
}

.texto-tarjeta>p {
    font-size: 12px;
}

.tarjeta-cont {
    display: flex;
    height: 12rem;
    width: 16rem;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
}

.tarjeta>img {
    width: 50%;
    height: 100%;
    border-right: 1px solid #000;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-cont>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: .5rem;
    margin: .5rem;
}

.button-cont>button>i {
    font-size: 25px;
}
.corazon {
    color: #8d0000;
}

.button-cont>button>a>img {
    width: 2rem;
    height: 2rem;
}

.button-cont>button:hover {
    background-color: #cecece;
}


.bebidas>.tarjeta>img {
    height: 14rem;
    width: 14rem;
}

/* Responsive */
@media (min-width: 500px) and (max-width: 799px) {}