* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.index-second {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    gap: 10rem;
}

.index-second>img {
    width: 35rem;
    animation: Rotacion 10s ease-in-out 1s 1;
}

.bienvenida {
    text-align: left;
    width: 70rem;
    background-color: #8d0000;
    border-radius: 999px;
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;

}

.bienvenida>h1 {
    font-size: 3rem;
}

.bienvenida>p {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Animaciones */
@keyframes Rotacion {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}