.index-second {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
    gap: 10rem;
}

.index-second>img {
    width: 35rem;
    animation: Rotacion 10s ease-in-out 1s 1;
}

.bienvenida {
    text-align: left;
    width: 70rem;
    background-color: #8d0000;
    border-radius: 999px;
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 1rem;

}

.bienvenida>h1 {
    font-size: 3rem;
}

.bienvenida>p {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Animaciones */
@keyframes Rotacion {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

/* Responsive */
@media (min-width: 350px) and (max-width: 499px) {
.index-second {
        gap: .5rem;
    }

    .index-second>img {
        width: 8rem;
    }

    .bienvenida {
        width: 15rem;
        padding: 2rem;
        gap: .3rem;
    }

    .bienvenida>h1 {
        font-size: 10px;
    }

    .bienvenida>p {
        font-size: 5px;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .index-second {
        gap: 1rem;
    }

    .index-second>img {
        width: 13rem;
    }

    .bienvenida {
        width: 25rem;
        padding: 2rem 3rem;
    }

    .bienvenida>h1 {
        font-size: 15px;
    }

    .bienvenida>p {
        font-size: 10px;
        font-weight: bold;
    }
}

@media (min-width: 800px) and (max-width: 1370px) {
    .index-second {
        gap: 3rem;
    }

    .index-second>img {
        width: 30rem;
    }

    .bienvenida {
        width: 50rem;
        padding: 3rem 6rem;
    }

    .bienvenida>h1 {
        font-size: 35px;
    }

    .bienvenida>p {
        font-size: 16px;
        font-weight: bold;
    }
}