/* navbar --> nabvar.js */
.container-navbar {
    margin-bottom: 0;
}

.index-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.carrucel-container{
    position: static;
    width: 80%;
    height: auto;
    overflow-x: auto;  
    border-radius: 5px;  
    scroll-behavior: smooth;
    z-index: -1;

}

.carrucel{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    position: static;
}

.carrucel-container::-webkit-scrollbar{
    display: none;
}

.carrucel>img{
    flex: 0 0 auto;
    width: 100%;
    max-height: 50rem; 
}

.botones{
    position: absolute;
    top: 30rem;
    width: 82%;
    display: flex;
    justify-content: space-between;
    z-index: 0;
}

.botones>img{
    background-color: #8d0000;
    border-radius: 999px;
    height: 4rem;
    width: 4rem;
    position: static;
    cursor: pointer;
    border: 2px solid #000;
    transition: all .3s;
}

.botones>img:hover{
    background-color: #f44b4b;
    scale: 110%;
}

