.footer{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff785;
    margin-top: 2rem;
    box-shadow: 0px -1px 8px black;

}

.footer>img{
    width: 20rem;
}

.redes{
    width: 23rem;
    display: flex;
    justify-content: space-around;
}

.red{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.red:first-child:hover{
    color: #0400ff;
}
.red:last-child:hover{
    color: #327c03;
}
.red:hover{
    color: #ac009b;
}

.red>span{
    font-size: 18px;
}

.sobre-nos{
    border: 2px solid #000;
    width: 23rem;
    padding: 1rem;
    background-color: #d8d16e;
}
.sobre-nos>h3{
    font-size: 1rem;
    font-weight: bold;
}
.sobre-nos>p{
    font-size: .7rem;
    font-weight: bold;
}