* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-navbar {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #fff677;
    height: 3rem;
    box-shadow: 0px 1px 8px black;
}

.nav-list {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list>a {
    display: flex;
    align-items: center;
}

.nav-list>a>img {
    height: 3rem;
}

.nav-item {
    list-style: none;
    display: flex;
    justify-content: center;
    width: auto;
}

.nav-item-carrito {
    list-style: none;
    display: flex;
    justify-content: center;
    width: auto;
}

.nav-item>a {
    color: #000;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    height: 100%;
    border-bottom: 2px solid transparent;
    transition-property: border;
    transition-duration: .5s;
}

.nav-item>a:hover {
    border-bottom: 2px solid #000000;
}

/* Carrito */

.carrito-img-navbar {
    height: 2.5rem;
    cursor: pointer;
}

.nav-item-carrito {
    display: block;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: .5rem;
}

.cart-navbar-menu{
    height: 2.5rem;
}

.cart-navbar-menu>span{
    color: #fff;
    position: absolute;
    top: 1.4rem;
    border-radius: 50%;
    width: 1.3rem;
    height: 1.3rem;
    text-align: center;
    background-color: red;
}

.cart-container{
    position: absolute;
    right: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    background-color:#fff785;
}

.cart{
    border: 1.5px solid #000;
}

.item-cart{
    background: linear-gradient(to right, #fff785 30%, #ffffff);
    height: 6rem;
    width: 23rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}

.item-cart>img{
    width: 7rem;
    height: 5.5rem;
    margin-left: .2rem;
}

/* Item cart Text */
.item-cart-text{
    font-size: .8rem;
    margin-left: .5rem;
}


/* Item cart buttons */
.item-cart-btns{
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.item-cart-btns>button{
    padding: .4rem;
    cursor: pointer;
    background-color: #f44b4b;
    border: 1px solid #000;
    color: #fff;
    border-radius: 3px;
}

.item-cart-btns>button:hover{
    background-color: red;
}

/* Carrito vacío */
.cart-vacio{
    height: 3rem;
    width: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3rem;
}

/* Botones Bottom Carrito */
.btns-cart-vaciar-pagar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns-cart-vaciar-pagar>span{
    color: #0a6f0a;
    font-weight: bold;
}

.vaciar-cart,
.pagar-cart{
    padding: .3rem;
    margin: .5rem;
    cursor: pointer;
    background-color: #f44b4b;
    border: 1px solid #000;
    color: #fff;
    border-radius: 3px;
}

.vaciar-cart:hover,
.pagar-cart:hover{
    background-color: red;
}


